html,
body,
div,
code {
  font-family: "Noto Serif KR";
  word-wrap: break-word;
  word-break: keep-all;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-weight-bold;
}

ul {
  margin-bottom: 0;
}

a {
  position: relative;
  text-decoration: none;
  background-image: linear-gradient(to right, $primary 0%, $primary 100%);
  background-position: left bottom;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    color 0.5s ease,
    background-size 0.5s ease;
  &:hover {
    color: $primary;
    background-size: 100% 2px;
  }
  &:focus {
    outline: 2px solid $primary;
    outline-offset: 2px;
    border-radius: 2px;
  }
}

li a,
p a {
  background-image:
    repeating-linear-gradient(
      to left,
      lightgray,
      lightgray 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to right, $primary 0%, $primary 100%);
  background-position:
    right bottom,
    left bottom;
  background-size:
    100% 1px,
    0% 1px;
  &:hover {
    background-size:
      0 1px,
      100% 1px;
  }
}
